
<template>
  
    <div class="container mt-4">
      
        <div class="row">
            <div class="col-sm-4 mx-auto">
        
                <form @submit.prevent="" novalidate>
                  <h1 class="col-sm-4 mx-auto">Вход</h1>
                    <div class="step">
                        <div class="form-group">
                        <label for="@email">Email</label>
                        <input v-model="mail" type="text" class="form-control" id="@email">
                        </div>

                        <div class="form-group">
                        <label for="password">Пароль</label>
                        <input v-model="pass" type="password" class="form-control" id="password">
                        </div>

                        <button  @click="entrance" type="button" class="btn btn-primary mt-2">Войти</button>
                        <button  @click="this.$router.push('/')" type="button" class="btn btn-primary mt-2">Регистрация</button>

                    </div>

                </form>
            </div>
        </div>
    </div>                    
    
</template>





<script>
  import axios from 'axios';
  import {store} from "../store/store.js"

  export default {
    props: {
        
      },
    data() {
      return {
        usersGet: [],
        pass: '',
        mail: '',
        user: null
      }
    },
    methods: {
      async entrance() {
        const response = await axios.post(`http://localhost:3000/login`, {email : this.mail , password: this.pass}) 
        store.user = response.data.user
        if(response){
        this.$router.push('/homePage')
      } else {
        alert('Не тот email или пароль')
        this.$router.push('/authorizationPage') // реализовал вход на сайт через email и пароль , для захода надо будет ввести admin@yandex.ru и пароль admin
      }
      } 
              
    },
    components: {
        
    }
  }
  
</script>

<style>

</style>
