<script setup>
import axios from "axios";
import {store} from "../store/store.js"

localStorage.setItem('state', JSON.stringify(store)); 
</script>

<template>
    <div  class="col-sm-4 mx-auto">
        <h1>Детальная страница</h1>
        <div class="form-group">
            <label for="name">Имя: {{store.user.name}}</label>
            <input v-model="formChange.name" type="text" class="form-control" id="name">
        </div>
    
        <div class="form-group">
            <label for="surname">Ваша Фамилия: {{store.user.surname}}</label>
            <input v-model="formChange.surname" type="text" class="form-control" id="surname">
        </div>
        <div class="form-group">
            <label for="patronymic">Ваше отчество: {{store.user.patronymic}}</label>
            <input v-model="formChange.patronymic" type="text" class="form-control" id="patronymic">
        </div>
        <div class="form-group">
          <label for="namdateOfBirth">Дата Рождения: {{store.user.namdateOfBirth}}</label>
          <input v-model="formChange.namdateOfBirth" type="text" class="form-control" id="namdateOfBirth">
        </div>

        <div class="form-group">
          <label for="telephone">Ваш Телефон: {{store.user.telephone}}</label>
          <input v-model="formChange.telephone" type="text" class="form-control" id="telephone">
        </div>

        <div class="form-group">
          <label for="email">Email: {{store.user.email}}</label>
          <input v-model="formChange.email" type="text" class="form-control" id="email">
        </div>
        
        <div class="form-group">
            <label for="pass">Изменить пароль</label>
            <input v-model="formChange.password" type="password" class="form-control" id="pass">
        </div>
        
        <button  @click="formChanging" type="button" class="btn btn-primary mt-2">Изменить</button>
        <button  @click="formDelete" type="button" class="btn btn-primary mt-2">Удалить</button>
        <button  @click="formOut" type="button" class="btn btn-primary mt-2">Выйти</button>
        <button  @click="listAllUsers" type="button" class="btn btn-primary mt-2">Список юзеров</button>
    </div>
    
    
</template>



<script>

let initState = JSON.parse(localStorage.getItem('state'));

initState? store.user = initState.user : initState = null

export default {
    props: {
        
      },
    data() {
      return {
        formChange: {
            name: '',
            surname: '',
            patronymic: '',
            namdateOfBirth : '',
            telephone: '',
            email: '',
            password: '' 
         }
      }
    },
    methods: {
     formChanging() {
      let id = store.user.id
      axios.patch(`http://localhost:3000/users/${id}`, 
      Object.fromEntries(Object.entries(this.formChange).filter(item => store.user[item[0]] !== item[1] && item[1] !== ''))) 
      .then(response => store.user = response.data)
      this.$router.push('/Homepage')     
     },
     formDelete() {
      let id = store.user.id
      axios.delete(`http://localhost:3000/users/${id}`)
     },
     formOut() {
      this.$router.push('/authorizationPage')
     },
     async listAllUsers() {
      const response = await axios.get('http://localhost:3000/users')
      store.user = response.data
      this.$router.push('/listAllUsers')
     }
  
    },
    components: {
      
    }
  }

</script>


<style>



</style>