<script setup>
import {store} from "../store/store.js"
</script>

<template>

    <div v-for="item in store.user" :key="item.id">

        <div class="form-group">
            <label for="name">Имя: {{item.name}}</label>
        </div>
    
        <div class="form-group">
            <label for="surname">Ваша Фамилия: {{item.surname}}</label>     
        </div>

        <div class="form-group">
          <label for="telephone">Ваш Телефон: {{item.telephone}}</label>
        </div>

        <div class="form-group">
          <label for="email">Email: {{item.email}}</label>
        </div>

        <button  @click="edit(item)" type="button" class="btn btn-primary mt-2">Редактировать</button>

    </div>    

</template>

<script>

export default {
    props: {
            
        },

    data() {
        return {
        
        }
    },

    methods: {
        edit(item) {
            store.user = item;
            this.$router.push('/HomePage')
        }
    },
    components: {
        
    }
}

</script>


<style>


</style>