<template>
    <div class="container mt-4">
    <div class="row">
      <div class="col-sm-4 mx-auto">
        
        <form @submit.prevent="" novalidate>

          <div v-show="step === 1" class="step">
            <h1 class="mx-auto">Регистрация</h1>
            <div class="form-group">
              <label for="name">Ваше имя</label>
              <input v-model="formReg.name" type="text" class="form-control" id="name">
            </div>

            <div class="form-group">
              <label for="surname">Ваша Фамилия</label>
              <input v-model="formReg.surname" type="text" class="form-control" id="surname">
            </div>

            <div class="form-group">
              <label for="patronymic">Ваше отчество</label>
              <input v-model="formReg.patronymic" type="text" class="form-control" id="patronymic">
            </div>

            <button @click="this.$router.push('/authorizationPage')" type="button" class="btn btn-primary mt-2">Авторизация</button>
            <button @click="nextStep" type="button" class="btn btn-primary mt-2">Следующий шаг</button>

          </div>

          <div v-show="step === 2" class="step">
            <div class="form-group">
              <label for="namdateOfBirth">Дата Рождения</label>
              <input v-model="formReg.namdateOfBirth" type="text" class="form-control" id="namdateOfBirth">
            </div>

            <div class="form-group">
              <label for="telephone">Ваш Телефон</label>
              <input v-model="formReg.telephone" type="text" class="form-control" id="telephone">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input v-model="formReg.email" type="text" class="form-control" id="email">
            </div>

            <div class="form-group">
              <label for="pass">Пароль</label>
              <input v-model="formReg.password" type="password" class="form-control" id="pass">
            </div>

            <button @click="backStep" type="button" class="btn btn-primary mt-2">Назад</button>
            <button @click="registerUsers" type="submit" class="btn btn-primary mt-2">Зарегистрироваться</button>
            

          </div>
                   
        </form>

      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';


export default {
  name: 'AppContent',
  data() {
    return {
      step: 1,
      formReg: {
        name: '',
        surname: '',
        patronymic: '',
        namdateOfBirth : '',
        telephone: '',
        email: '',
        password: ''
      }
    }
  },
  methods: {
    nextStep() {
      if(this.step < 2){
        this.step++
      }
    },
    backStep() {
      if(this.step >= 0){
        this.step--
      }
    },
    registerUsers() {
      axios.post(`http://localhost:3000/register`, {
        ...this.formReg}
      ).then(response => response? alert('Вы успешно зарегестрировались'): null)
      this.$router.push('/authorizationPage') // Функция регистрации на сайт
      
    }
  },
  components: {
    
    
}
}
</script>

<style>
 .btn{
  margin-right: 5px;
 }
</style>
